.booking-page-main{
    margin:24px
}
.home-main{
    background-color: #495E57;
    padding:24px;
    display:flex;
    width: 100%;
}
.left-column{
    width:50%;
}
.about-main{
    background-color: #ffffff;
    padding:24px;
    display:flex;
    width: 100%;
}