.container {
    display: flex;
    justify-content: space-evenly;
}
.list-type{
list-style-type: none;
}
.header-container{
    display: flex;
}
.booking-form-main{
    display: flex;
}
.main-card-div{
    background-color: #EDEFEE;
    margin: 24px 50px 0px 0px;
}
.special-data-val{
    padding: 18px;
}